.map {
    height: 100vh;
}

.bottom-modal {
    background-color: #b91111;
    height: 240px;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bars-list {
    background-color: #610d0d;
    width: 95%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-title {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 40px;
}

.bar {
    width: 95%;
    height: 48px;
    background-color: #b91111;
    margin-top: 6px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.bar-text-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}